In [1]:
import mysql.connector

In [8]:
import pandas as pd

In [5]:
host="brand-test-2-serverless.cluster-c2gnry2r6kzm.us-east-2.rds.amazonaws.com"
user="admin"
passwd="vtex12345"
db_name="data_mart_brand"

mydb = mysql.connector.connect(
  host=host,
  user=user,
  passwd=passwd,
  database=db_name
)

In [10]:
df = pd.read_csv('dm.csv', delimiter=";")

In [6]:
mycursor = mydb.cursor()

In [15]:
sql = """
INSERT INTO orders (id, subaccount, seller_order_id, order_group, 
    status, origin_code, total_value, is_completed, country_code, 
    currency_code, number_itens, creation_date, pickup_itens)

VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)

ON DUPLICATE KEY UPDATE 
    is_completed = is_completed,
    status = status, 
    number_itens = number_itens,
    total_value = total_value,
    pickup_itens = pickup_itens
"""

val = [tuple(x) for x in df.values]

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "was inserted.")

(1, 'was inserted.')

In [19]:
df.drop_duplicates().head(20)

,id,subaccount,seller_order_id,order_group,status,origin_code,total_value,is_completed,country_code,currency_code,number_itens,creation_date,pickup_itens
0,1001431277803-01,tokstok,00-1001431277803-01,1001431277803,payment-approved,0,11785,1,BRA,BRL,1,2020-01-06 23:21:15,0.0